@import "tailwindcss";

@theme {
  --breakpoint-sm: 28.8rem;   /* 576px */
  --breakpoint-md: 38.4rem;   /* 768px */
  --breakpoint-lg: 49.6rem;   /* 992px */
  --breakpoint-xl: 60rem;   /* 1200px */
  --breakpoint-2xl: 70rem; /* 1400px */
  
  --font-display: "Oswald", sans-serif;
}

html {
  font-size: 16px;
}